<!DOCTYPE html>
<html>

<head>
    <!-- Установка кодировки и масштабирования для страницы -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Подключение стилей Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>

    <!-- Верхняя панель -->
    <div class="bg-dark textbg-white p-2">
        <!-- Название магазина -->
        <span class="navbar-brand ml-2"> SPORTS STORE </span>
    </div>

    <!-- Основное содержимое страницы -->
    <div class="m-1 p-1">
        <!-- Рендеринг основного контента -->
        @RenderBody()
    </div>

</body>

</html>
